/* Обнуление */
*,
::before
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, 
ol, 
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html, 
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-weight: 500;
    font-family: Roboto;
}
/*------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/*-------------------------------*/
._container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

/* ------------------Шапка---------------------------- */

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header_container {
    display: flex;
    min-height: 80px;
    align-items: center;
}
.header_logo {

    font-weight: 100;
    width: 103.68px;
    height: 26px;
    left: 97px;
    top: 31px;
}
.header_menu {
    margin: 0px 0px 0px 133px;
}

@media (max-width: 992px) {
    .header_menu {
        margin: 0px 0px 0px 80px;
    }
}

@media (max-width: 767px) {
    .header_menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px) {
    .header_menu {
        margin: 0px 0px 0px 20px;
    }
}

.menu {
    padding: 5px 0px;
}
.menu_list {
    flex-wrap: wrap;
    display: flex;
}
.menu_item {
}
.menu_item:not(:last-child){
    margin: 0px 65px 0px 0px;   
}
.menu_link {
    font-family: 'Roboto';
    
    color: #555248;
    font-style: normal;
    font-weight: 400;
    /*line-height: 114%;*/
    font-size: 14px;
    line-height: 16px;
}
/* -------------------Main--------------------- */
.main {
    flex: 1 1 auto;
}

/* -------------------Подвал--------------------- */
.footer {

}